.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px !important;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.formInput {
  width: 250px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 16px;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.registerButton {
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid gray;
  cursor: pointer;
  font-size: 16px;
}

.registerButton:hover {
  transform: scale(1.02);
}

.loginText {
  font-size: 14px;
}

.loginLink {
  color: blue;
  font-weight: bold;
}

.loginLink:hover {
  cursor: pointer;
  text-decoration: underline;
}
